[Desktop Entry]
Version=1.0
Name=Xfce Terminal
Name[cs]=Terminál Xfce
Comment=Terminal Emulator
Comment[cs]=Emulátor terminálu
GenericName=Terminal Emulator
GenericName[cs]=Emulátor terminálu
Exec=/gnu/store/76z1ibhfvphp92nshn0rbvl9pq5jk54a-xfce4-terminal-1.0.4/bin/xfce4-terminal
Icon=org.xfce.terminal
Terminal=false
Type=Application
Categories=GTK;System;TerminalEmulator;
StartupNotify=true
Actions=preferences;
X-XFCE-Source=file:///run/current-system/profile/share/applications/xfce4-terminal.desktop

[Desktop Action preferences]
Name=Terminal Preferences
Name[cs]=Nastavení aplikace Terminal
Exec=/gnu/store/76z1ibhfvphp92nshn0rbvl9pq5jk54a-xfce4-terminal-1.0.4/bin/xfce4-terminal --preferences
