[Desktop Entry]
Version=1.0
Name=Chromium
GenericName=Web Browser
GenericName[cs]=WWW prohlížeč
Comment=Access the Internet
Comment[cs]=Přístup k internetu
Exec=/gnu/store/j85kbvrhky9xwyn2hnxpn6ghs6c08wjp-ungoogled-chromium-109.0.5414.119-1/bin/chromium %U
StartupNotify=true
Terminal=false
Icon=chromium
Type=Application
Categories=Network;WebBrowser;
MimeType=application/pdf;application/rdf+xml;application/rss+xml;application/xhtml+xml;application/xhtml_xml;application/xml;image/gif;image/jpeg;image/png;image/webp;text/html;text/xml;x-scheme-handler/http;x-scheme-handler/https;
Actions=new-window;new-private-window;
X-XFCE-Source=file:///home/jan/.guix-profile/share/applications/chromium.desktop

[Desktop Action new-window]
Name=New Window
Name[cs]=Nové okno
Exec=/gnu/store/j85kbvrhky9xwyn2hnxpn6ghs6c08wjp-ungoogled-chromium-109.0.5414.119-1/bin/chromium

[Desktop Action new-private-window]
Name=New Incognito Window
Name[cs]=Nové anonymní okno
Exec=/gnu/store/j85kbvrhky9xwyn2hnxpn6ghs6c08wjp-ungoogled-chromium-109.0.5414.119-1/bin/chromium --incognito
