[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/jan/Plocha/retroarch.desktop]
row=7
col=17

[/home/jan/Plocha/net.lutris.league-of-legends-1.desktop]
row=8
col=17

[/home/jan/Plocha/net.lutris.richard-burns-rally-1.desktop]
row=6
col=17

[Koš]
row=1
col=0

[/home/jan]
row=0
col=0

